<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Facts pubsubhubbub</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/bootstrap.css" media="screen">
		
		<script type="text/javascript">

		 var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23019901-1']);
			_gaq.push(['_setDomainName', "bootswatch.com"]);
				_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

		 (function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();

		</script>
	</head>
	<body ng-app="MainApp">

		<div class="container">
			<!-- Navbar
			================================================== -->
			<div class="bs-docs-section clearfix">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h1><img src="img/Hasso-Plattner-Institut-Logo.jpg" alt="logo"/ style="height: 70px;width: 120px;"></h1>
						</div>
						<div class="bs-example">
							<div class="navbar navbar-inverse">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">Facts Hub</a>
								</div>
								<div class="navbar-collapse collapse navbar-inverse-collapse">
									<ul class="nav navbar-nav navbar-right">
										<li><a href="#">Login</a></li>
										<li><a href="#">Register</a></li>
										<li><a href="partials/home.html">Profile</a></li>
										</li>
									</ul>
								</div><!-- /.nav-collapse -->
							</div><!-- /.navbar -->
						</div><!-- /example -->
					</div>
				</div>
			</div>
			<div class="bs-docs-section" ng-controller="HomeController">
				<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<input type="text" class="form-control" id="nameFilter" placeholder="Search.." ng-model="nameFilter" name="nameFilter">
									</div>
								</div>
								<div class="col-lg-2">	
									<p>
										<button type="button" class="btn btn-default" ng-click="search()">Search</button>
									</p>
								</div>	
					<div class="col-lg-12">
						<h3>Search Results</h3>
						    <div class="list-group" ng-repeat="result in searchResult">
						    	<a href="#" class="list-group-item"><input type="checkbox" class="pull-right">{{ result.label }} </a>
						    </div>
						    <div class="col-lg-3">	
									<p>
										<button type="button" class="btn btn-success" ng-click="register()">Register</button>
									</p>
							</div>	
					</div>
				</div>
			</div>
			<footer>
				<div class="row">
					<div class="col-lg-12">
						<p></p>
					</div>
				</div>
			</footer>
		</div>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="bower_components/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
	</body>
</html>